<nav class="navbar navbar-default" style="background-color: #4f7942">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <div>
        <a routerLink="/" class="navbar-brand" style="color: aliceblue"
          >Alejandro's Recipe Book</a
        >
      </div>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a style="color: black" routerLink="/recipes" *ngIf="isAuthenticated"
            >Recipes</a
          >
        </li>
        <li routerLinkActive="active">
          <a style="color: black" routerLink="/shopping-list">Shopping List</a>
        </li>
        <li routerLinkActive="active">
          <a style="color: black" routerLink="/auth" *ngIf="!isAuthenticated"
            >Login</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a style="cursor: pointer; color: black" *ngIf="isAuthenticated"
            >Logout</a
          >
        </li>
        <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a
            style="cursor: pointer"
            class="dropdown-toggle"
            role="button"
            style="color: black"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="onSaveData()">Save Data</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
